/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6, .pretty-lily {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}

/** GRID COLOURS **/
.red {
    background-color: red;
    height: 700px;
    width: 45%;
    margin-right: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.yellow {
    background-color: yellow;
    height: 700px;
    width: 45%;
    margin-right: 25px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }

.green {
    background-color: green;
    height: 700px;
    width: 45%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.blue {
    background-color: blue;
    height: 700px;
    width: 45%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.darker-orange {
    background-color: var(--darker-orange);
    max-width: 1296px;
}

/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

/** HTML / HEADER **/
.header {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    padding-right: 50px;
    padding-left: 30px;
    transform: translateX(-50%);
    z-index: 1;
}

.header__logo {
    height: auto;
    width: 400px;
    cursor: pointer;
    margin-right: 30px;
}

.header__search-holder {
    position: relative;
    height: auto;
    align-self: flex-start;
    margin-top: 25px;
    margin-left: auto;
}

.header__search-input {
    width: 250px;
    height: 35px;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 0px 40px;
}

.header__search-icon {
    width: 20px;
    height: 20px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 10px;
}

.header__search-icon svg {
    height: auto;
    width: 20px;
}

.header__menu-trigger-holder {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.header__menu-trigger-line {
    height: 4px;
    width: 40px;
    background-color: var(--darker-orange);
    border-radius: 4px;
}

.header__menu-trigger-line--middle {
    margin: 10px 0px;
}

.header__menu-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 150px;
    background-color: white;
    align-items: center;
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 0px 50px;
    transform: translateY(-100%);
    transition: transform 300ms ease-out;
}

.header__menu-holder--is-open {
    transform: translateY(0);
}

.header__menu-logo {
    height: auto;
    width: 200px;
    cursor: pointer;
}

.header__menu-navigation-holder {
    margin-left: auto;
    margin-right: 60px;
    width: 46.875vw;
    max-width: 675px;
}

.header__menu-navigation-list {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.header__menu-navigation-link {
    color: black;
    text-decoration: none;
    font-size: 40px;
    color: var(--lighter-red);
}

.header__menu-navigation-link:hover {
    color: var(--darker-red);
}


/** HERO IMAGE **/
.hero-image-holder {
    position: relative;
    width: 100%;
    height: 90%;
    max-height: 800px;
    margin-bottom: 50px;
}

.hero-image__image {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/** CONTENT **/
.content__container-spacing {
    padding-left: 60px;
}

.content__row-spacing--margin-right {
    margin-right: 15px;
    display: flex;
}

.content__row-spacing--margin-top {
    margin-top: 25px;
}

.content__container-agenda-holder {
    background-color: var(--lighter-green);
    height: 900px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.content__container-agenda-image {
    position: relative;
    height: auto;
    max-width: 175px;
    top: 0px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.content__container-agenda-content-holder {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.content__container-agenda-items-holder {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.content__container-agenda-content--icon {
    position: relative;
    color: var(--white);
    width: 30%;
    top: 100%;
    transform: translateY(-50%);
}

.content__container-agenda-content--icon svg {
    width: 30px;
    height: auto;
}

.content__container-agenda-content--text {
    position: relative;
}

.content__container-agenda-content-text--title {
    position: relative;
    font-size: 32px;
}

.content__container-agenda-content-text--description {
    position: relative;
    font-size: 14px;
}

.content__container-login-holder {
    background-color: var(--darker-red);
    height: 500px;
    max-width: 285px;
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.content__container-login-image {
    position: relative;
    max-height: auto;
    max-width: 200px;
    top: 0px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding-top: 30px;
}

.content__container-login-input-holder {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 30px;
}

.content__container-login-input--email {
    position: relative;
    background: var(--white);
    border: 0px solid;
    border-radius: 4px;
    margin: 20px;
}

.content__container-login-input--password {
    position: relative;
    background: var(--white);
    border: 0px solid;
    border-radius: 4px;
    margin: 20px;
}

.content__container-login-button {
    position: relative;
    background: var(--lighter-orange);
    height: auto;;
    max-width: 175px;
    top: 0px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    border: 0px solid;
    border-radius: 30px;
    margin-top: 50px;

}

.content__container-login-button--text {
    font-size: 36px;
    color: var(--white);
    top: 0px;
    left: 50%;
    width: 100%;
    transform: translateX(33%);
}


/** FOOTER **/
.footer__text-color {
    color: var(--white);
}



