<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
</head>

<body>


    {# HEADER #}
    <header class="container-xxl header">
        <img src="assets/img/logo-v2.png" class="header__logo" onclick="document.location='http://localhost/educom-verrukkulluk/index.php?recipe_id=4&action=homepage'"/>

        <div class="header__search-holder">
            <form name="keyword_entered" method="GET" action="index.php?action=search">
                <input type="text" name="search_bar" class="header__search-input" placeholder="Zoeken" required/>
                <input id="submit" type="submit" name="submit" value="Zoeken"/>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                </span>
            </form>
        </div>

        <div class="header__menu-trigger-holder">
            <span class="header__menu-trigger-line header__menu-trigger-line--top">
            </span>
            <span class="header__menu-trigger-line header__menu-trigger-line--middle">
            </span>
            <span class="header__menu-trigger-line header__menu-trigger-line--bottom">
            </span>
        </div>

        <div class="header__menu-holder">
            <a class="header__menu-logo-holder">
                <img class="header__menu-logo" src="assets/img/logo-v2.png" onclick="document.location='http://localhost/educom-verrukkulluk/index.php?recipe_id=4&action=homepage'"/>
            </a>
            <nav class="header__menu-navigation-holder">
                <ul class="header__menu-navigation-list">
                    <li class="header__menu-navigation-item">
                        <a class="pretty-lily header__menu-navigation-link" href="#">
                            Mijn Favorieten
                        </a>
                    </li>
                    <li class="header__menu-navigation-item">
                        <a class="pretty-lily header__menu-navigation-link" onclick="document.location='http://localhost/educom-verrukkulluk/index.php?recipe_id=4&action=shoppinglist'">
                            Mijn Boodschappenlijst
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    

            {# {% block header %}
            {% endblock %}    #}


    <div class="container-xxl">
        {%  block content %}
        {%  endblock %}
    </div>




    {# FOOTER #}
    <div class="container-fluid darker-orange" style="max-width: 1296">
        <div class="row content__row-spacing--margin-top" style="max-width:1296px;">
            <div class="col-md-3">
                <img src="assets/img/verrukkulluk-pay-off.png" class="mx-auto d-block" style="width:40%" style="height:40%">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <img src="assets/img/verrukkulluk-contact.png" style="width:15%" style="height:15%">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer__text-color">Verrukkelluk.nl<br> Poststraat 2b <br> Sittard <br> info@verrukkelluk.nl
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# SCRIPTS #}
    <script src="assets/js/main.js" type="text/javascript"></script>

</body>
